# Ключ django
DJANGO_KEY=<Django_key>

# Режим дебага (разработки)
DEBUG=True

# Настройки для подключения к БД
HOST=127.0.0.1
PORT=5432
POSTGRES_USER=<mane_pg_user>
POSTGRES_DB=<name_pg_db>
POSTGRES_PASSWORD=<pg_password>

